# Ignore environment folder
strategy_finder_env/

# IGNORE DATA FORLDERS EXCEPT RAW DATA
data/bronze/*
data/silver/*
data/gold/*
data/platinum/*
data/diamond/*

# Ignore bronze data files
bronze_data/*

# Ignore silver data files
silver_data/*

# Ignore reports
reports/*

# Ignore test files
test_data/*

# Ignore gold data files
gold_data/*

# Ignore platinum data files
platinum_data/*

# Ignore all diamond data files
diamond_data/*

zircon_data/*

# Ignore any csv under the main directory only
/*.parquet

# ignore log files
logs/*

# Ignore pyc
*.pyc